* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
  margin: 20px 10px 10px 10px;
  padding: 10px;
  text-align: center;
}

.genre {
  margin: 10px;
  padding: 5px;
  background-color: #e5e8e5f4;
  border-radius: 8px;
}

.filter {
  padding-right: 15px;
}

.button-div {
  margin: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 10px 10px;
  background-color: #bfc2bf;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #a1a3a1;
  cursor: pointer;
}

.movies {
  margin: 40px 40px;
}

/* .table {
  margin: 10px 10px;
  text-align: left;
}

.row-head {
  background-color: #e5e8e5f4;
}

.data-genre {
  width: 100px;
}

.data-title {
  width: 300px;
}

.data-year {
  width:100px;
} */
 .row-head {
  background-color: #e5e8e5f4;
}

table {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  
  border-collapse: collapse;
  padding: 8px;
}
/* Optional table styling */
table, th, td {
  
  border: 1px solid #ccc;
  
  border-collapse: collapse;
  padding: 8px;
}
